.App {
  text-align: center;
}
.App{
  height: 100vh;
  width: 100%;
}

.bg{
  background-image: url('./10keys.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  z-index: -1;
  width: 100%;
  height: 50vh;
}

.keys{
  height: 50vh;
  width: 100%;
  background: black;
  display: flex;
  /* justify-content: flex-end; */
}

.octave-block{
  width:25.8%; 
}

.key-block{
  /* width: 818.55px; */
  width: 20%;
  height: 100%;
  border: 1px solid white;
  display: flex;
}

/* .fB{
  width: 818.55px;
  height: 100%;
  border: 1px solid white;
} */

.fB-1{
  background: purple;
}
.fB-2{
  background: silver;
}

.cE{
  /* width: 589.55px; */
  width: 15%;
  /* height: 100%; */
  /* border: 1px solid white; */
  background: grey;
}
/* 
.cE .key-note{
  width: 115.85px;
} */

.w-keys{
  z-index: 0;
  display: flex;
  position: absolute;
  height: 100%;
}

.W{
  /* width: 272.85px; */
  /* width: 100px; */
  width: 5vw;
  height: 100%;
  border: 1px solid black;
  background: white
}

.cE .b-keys{
  width: 15%
}

.fB .b-keys{
  width: 20%;
}

.b-keys{
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  height: 50%;
  /* width: 15%; */
}

.Bl{
  width: 50px;
  border: 1px solid white;
  background: black;
  height: 50%
}
